.nav__item {
  cursor: pointer;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 0.3s ease;
  color: #213538;
}

.nav__link:hover,
.nav__link:focus {
  color: #265e5e;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform: translateX(-50%) translateY(100%);
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.3s ease;
}

.nav__link--active {
  color: #265e5e;
}

.nav__link--active::after {
  background: #265e5e;
}

/* Лічильник */
.nav__count {
  padding: 0.2rem 0.6rem;
  color: #265e5e;
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid #265e5e;
  border-radius: 15px;
  background: #fff;
  transition: all 0.3s ease;
}

/* Зміна стилів лічильника при hover або активному */
.nav__link:hover .nav__count,
.nav__link:focus .nav__count,
.nav__link--active .nav__count {
  background: #265e5e;
  color: #fff;
  border-color: #265e5e;
}


